// MISRA C-2012 Rules

{
    version : "2.0",
    standard : "c2012",
    title: "Coverity MISRA Configuration",
    deviations : [
        {
            deviation: "Directive 4.9",
            category: "Advisory",
            reason: "Allow inclusion of function like macros."
        },
        {
            deviation: "Rule 2.5",
            reason: "Allow unused macros. Library headers may define macros intended for the application's use, but not used by a specific file."
        },
        {
            deviation: "Rule 3.1",
            category: "Required",
            reason: "Allow nested comments. Documentation blocks contain comments for example code."
        },
        {
            deviation: "Rule 8.7",
            reason: "API functions are not used by library. They must be externally visible in order to be used by the application."
        },
        {
            deviation: "Rule 8.13",
            category: "Advisory",
            reason: "Allow one function to have a char * argument without const qualifier."
        },
        {
            deviation: "Rule 15.4",
            category: "Advisory",
            reason: "Allow more then one break statement to terminate a loop"
        },
        {
            deviation: "Rule 19.2",
            category: "Advisory",
            reason: "Allow a union of a signed and unsigned type of identical sizes."
        },
    ]
}
