[submodule "test/unit-test/CMock"]
	path = test/unit-test/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
	update = none
[submodule "source/dependency/3rdparty/llhttp"]
	path = source/dependency/3rdparty/llhttp
	url = https://github.com/nodejs/llhttp.git
