[submodule "coreJSON"]
	path = source/dependency/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
	update = none
[submodule "tinycbor"]
	path = source/dependency/3rdparty/tinycbor
	url = https://github.com/intel/tinycbor.git
	update = none
[submodule "test/unit-test/CMock"]
	path = test/unit-test/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
	update = none
[submodule "test/cbmc/FreeRTOS-Kernel"]
	path = test/cbmc/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	update = none
