// MISRA C-2012 Rules

{
    version : "2.0",
    standard : "c2012",
    title: "Coverity MISRA Configuration",
    deviations : [
        // Disable the following rules.
        {
            deviation: "Directive 4.5",
            reason: "Allow names that MISRA considers ambiguous (such as variable cborEncoder and cborParser)."
        },
        {
            deviation: "Directive 4.8",
            reason: "Allow inclusion of unused types. Library headers may define types that are used only by application files or specific port files."
        },
        {
            deviation: "Directive 4.9",
            reason: "Allow inclusion of function like macros. Logging is done using function like macros."
        },
        {
            deviation: "Rule 2.4",
            reason: "Allow unused tags. Some compilers warn if struct/enum types are not tagged."
        },
        {
            deviation: "Rule 2.5",
            reason: "Allow unused macros. Library headers may define macros intended for the application's use, but not used by a specific file."
        },
        {
            deviation: "Rule 3.1",
            reason: "Allow nested comments. Documentation blocks contain comments for example code."
        },
        {
            deviation: "Rule 8.6",
            reason: "There is only one occurance of this violation, the MISRA.md file contains more information about it. Inline suppression is not removing the violation, due to this we have added it to the global overide list."
        },
        {
            deviation: "Rule 8.7",
            reason: "API functions are not used by the library; however, they must be externally visible in order to be used by an application."
        },
        {
            deviation: "Rule 8.9",
            reason: "For ease, configuration parameters are defined at a global scope even when used only once."
        },
        {
            deviation: "Rule 8.13",
            reason: "There is only one occurance of this violation, the MISRA.md file contains more information about it. Inline suppression is not removing the violation, due to this we have added it to the global overide list."
        },
        {
            deviation: "Rule 11.5",
            reason: "Allow casts from void *. Contexts are passed as void * and must be cast to the correct data type before use."
        }
    ]
}
